@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .absolute-fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@layer base {
  :root {
    --background: 195 25% 97%;
    --foreground: 0 0% 15%;
    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 50%%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 15%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 15%;
    --border: 0 0% 80%;
    --input: 0 0% 72%;
    --primary: 184.83 89% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 45.14 94% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --success: 100 77% 44%;
    --success-foreground: 0 0% 100%;
    --ring: 187.7 90% 32%;
    --radius: 0.5rem;
  }

  .dark:root {
    --background: 218 11% 15%;
    --foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 60%;
    --popover: 206 15% 19%;
    --popover-foreground: 315 40% 98%;
    --card: 0 0% 11%;
    --card-foreground: 0 0% 100%;
    --border: 0 0% 19%;
    --input: 0 0% 21%;
    --primary: 184.83 77% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 22%;
    --secondary-foreground: 0 0% 100%;
    --accent: 45.14 79% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 37%;
    --destructive-foreground: 0 0% 100%;
    --success: 100 77% 39%;
    --success-foreground: 0 0% 100%;
    --ring: 187.7 89% 21%;
  }
}
